<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section name="allowedCertificates"
             type="Ced.Wcf.X509CertificatesValidator.AllowedCertificatesSection, Ced.Wcf.X509CertificatesValidator"
             xdt:Transform="Insert" />
  </configSections>

  <appSettings>    
    <add key="CertificateThumbprint" value="__AllowedCertificateThumbprint__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"
                           httpsGetEnabled="true"
                           xdt:Transform="Replace" />
          
          <serviceDebug includeExceptionDetailInFaults="false"
                        xdt:Transform="Replace"/>

          <serviceCredentials xdt:Transform="Insert">
            <serviceCertificate findValue="__OwnCertificateThumbprint__"
                                storeName="My"
                                storeLocation="CurrentUser"
                                x509FindType="FindByThumbprint" />

            <clientCertificate>
              <authentication certificateValidationMode="Custom"
                              customCertificateValidatorType="Ced.Wcf.X509CertificatesValidator.CedX509CertificateValidator, Ced.Wcf.X509CertificatesValidator" />
            </clientCertificate>

          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings xdt:Transform="Insert">
      <basicHttpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>

  <allowedCertificates xdt:Transform="Insert">
    <certificates>
      <add name="__AllowedCertificateName__" thumbprint="__AllowedCertificateThumbprint__" />
      <add name="__AllowedCertificateNameAtlas__" thumbprint="__AllowedCertificateThumbprintAtlas__" />
    </certificates>
  </allowedCertificates>

  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes(enabled)"/>
  </system.webServer>

  <connectionStrings>
    <add name="MasterDataContext"
         connectionString="__MasterDataContextConnectionString__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <location path="MasterDataService.svc" xdt:Transform="InsertIfMissing" xdt:Locator="Match(path)">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <directoryBrowse enabled="false" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
        <access sslFlags="Ssl, SslRequireCert" />
      </security>
    </system.webServer>
  </location>

</configuration>