<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MasterDataContext"
         connectionString="__MasterDataContextConnectionString__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_VatNumberCheckService" sendTimeout="00:00:04">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehaviour_MD">
          <clientCredentials>
            <clientCertificate findValue="__AllowedCertificateThumbprint__" x509FindType="FindByThumbprint" xdt:Transform="SetAttributes(findValue)" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="__VatNumberCheckServiceAddress__"
                behaviorConfiguration="ClientBehaviour_MD"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VatNumberCheckService"
                contract="VatNumberCheckService.WcfService_Ced_VatNumberCheck"
                name="WSHttpBinding_ITwoWayAsync"
                xdt:Transform="SetAttributes(address)" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>
</configuration>